<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
</head>
<body>
    <div class="container">
        <p>{{ error }}</p> <br>
        <div class="container">
            <form action="" method="POST">
                {% csrf_token %}
                <label for="email">Username</label>
                <input type="text" name="email" placeholder="example@gmail.com">
                <label for="password">Password</label>
                <input type="password" name="password">
                <input type="submit" value="Sign In">
            </form>
        </div>
        <div>
            <a href="{% url 'forget_password' %}">Forgot Password</a>
        </div>
        <div>
            <p>
                Don't have an account? 
                <a href="{% url 'signup' %}">Sign Up</a>
            </p>
        </div>
    </div>
</body>
</html>